header {
    @include pure_section;
    height: 45px;
    background-color: $prevailing;
}

.header-wrapper {
    @include flex;
    @include wrapper;
    background-color: $prevailing;
}

.header-wrapper__logo {
    width: auto;
    height: auto;
    padding-top: 10px;
    padding-left: 8px;
    margin-left: 10px;
    font-size: 26px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.96;
    letter-spacing: -2.6px;
    text-align: left;
    color: #57c5a0;
}

.header-wrapper__search-icon {
    background-image: url("../img/search_icon.png");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    margin-left: 606px;
    margin-top: 14px;
}

.header-wrapper__login-register {
    min-width: 140px;
    width: auto;
    height: 45px;
    margin: 0 10px 0 23px;
    box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.35), inset 1px 0 0 0 rgba(255, 255, 255, 0.35);
}

.header-wrapper__login-register ul {
    @include main_font;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.27;
    letter-spacing: normal;
    text-align: center;
    color: #7e7e7e;
    margin-left: -3px;
    margin-top: 10px;
}

.header-wrapper__login-register ul a {
    &:link,
    &:visited {
        color: #7e7e7e;
        text-decoration: none;
        cursor: auto;
    }

    &:hover {
        color: #57c5a0;
    }
}

.menu {
    @include pure_section;
    background-color: #fff;
    height: 60px;
}

.menu-wrapper {
    @include wrapper;
    @include flex;
    background-color: #fff;
}

.menu-wrapper__main-nav {
    min-width: 558px;
    width: auto;
    height: 100%;
    margin-left: 17px;
    background-color: $white;
}

.menu-wrapper__main-nav ul a {
    @include main_font;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.8;
    letter-spacing: 0.4px;
    text-align: left;
    color: #242424;
    margin: 0 18.5px;
    padding-top: 24px;
    /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    &:first-child {
        @include main_font;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 3.8;
        letter-spacing: 1px;
        text-align: left;
        color: #242424;
        margin: 0 24px;
        padding-top: 24px;
    }

    &:hover {
        color: #57c5a0;
    }
}
/*WISHLIST/CART COUNTER*/
.menu-wrapper__wishlist-counter {
    @include flex;
    width: 182px;
    height: 100%;
    background-color: #fff;
    margin-left: auto;
    margin-right: 41px;
    /*box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.2), inset 1px 0 0 0 rgba(0, 0, 0, 0.2);*/
    /*box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.2);*/
}

.menu-wrapper__wishlist-counter__wishlist {
    width: 50%;
    height: 100%;
    background-color: #fff;
}

.menu-wrapper__wishlist-counter__wishlist-icon {
    background-image: url("../img/star_icon.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-left: 23px;
    margin-top: 23px;
}

.menu-wrapper__wishlist-counter__wishlist-counter {
    height: 17px;
    max-width: 17px;
    border-radius: 4px;
    background-color: #adadad;
    margin-left: 47px;
    margin-top: -18px;
    margin-bottom: -18px;
    @include main_font;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    *line-height: 2.08;
    letter-spacing: normal;
    text-align: left;
    color: $white;
    padding-left: 3px;
    padding-top: 3px;
    padding-right: 1px;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.menu-wrapper__wishlist-counter__cart {
    width: 50%;
    height: 100%;
    background-color: #fff;
    /*box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.2);*/
}

.menu-wrapper__wishlist-counter__cart-icon {
    background-image: url("../img/cart_icon.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-left: 22px;
    margin-top: 25px;
}

.menu-wrapper__wishlist-counter__cart-counter {
    max-height: 16px;
    max-width: 15px;
    border-radius: 4px;
    background-color: #57c5a0;
    margin-left: 46px;
    margin-top: -20px;
    margin-bottom: -18px;
    @include main_font;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.98;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    padding-bottom: 3px;
    padding-left: 6px;
}
/*END !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.top {
    @include pure_section;
    background-color: $grid2;
    height: 460px;
}

.top-wrapper {
    @include wrapper;
    @include flex;
    flex-direction: column;
    background-color: $grid1;
}

.top-wrapper__price-div {
    width: 68px;
    height: 67px;
    background-color: $grid2;
    margin-top: 70px;
    margin-left: 530px;
}

.top-wrapper__item-title {
    width: 282px;
    height: 74px;
    background-color: $grid2;
    margin-left: 529px;
    margin-top: 17px;
}

.top-wrapper__item-description {
    width: 384px;
    height: 70px;
    background-color: $grid2;
    margin-left: 529px;
    margin-top: 13px;
}

.top-wrapper__item-action-menu {
    width: 166px;
    height: 40px;
    background-color: $grid2;
    margin-left: 532px;
    margin-top: 15px;
}

.slider {
    @include pure_section;
    background-image: url("../img/slider.png");
    height: 90px;
}

.specials {
    @include pure_section;
    height: 230px;
    background-color: $grid3;
}

.specials-wrapper {
    @include wrapper;
    @include flex;
    background-color: $grid4;
}

.specials-wrapper__on-sale {
    width: 300px;
    height: 180px;
    margin-left: 19px;
    margin-top: 25px;
    background-color: $grid1;
}

.specials-wrapper__special-offers {
    width: 300px;
    height: 180px;
    margin-left: 19px;
    margin-top: 25px;
    background-color: $grid1;
}

.specials-wrapper__must-have {
    width: 300px;
    height: 180px;
    margin-left: 19px;
    margin-top: 25px;
    background-color: $grid1;
}

.specials-wrapper__on-sale-title {
    width: 180px;
    height: 60px;
    background-color: $prevailing;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.specials-wrapper__special-offers-title {
    width: 230px;
    height: 60px;
    background-color: $prevailing;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.specials-wrapper__must-have-title {
    width: 180px;
    height: 60px;
    background-color: $prevailing;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.new-arrivals {
    @include pure_section;
    height: 360px;
    background-color: $grid2;
}

.new-arrivals-wrapper {
    @include wrapper;
    @include flex;
    background-color: $grid1;
}

.new-arrivals-wrapper__top-bar {
    @include flex;
    width: auto;
    height: auto;
}

.new-arrivals-wrapper__top-bar__title {
    width: 308px;
    height: 20px;
    background-color: $grid2;
    margin-top: 34px;
    margin-left: 19px;
}

.new-arrivals-wrapper__top-bar__show-all {
    width: 100px;
    height: 30px;
    background-color: $grid2;
    margin-top: 30px;
    margin-left: 532px;
}

.new-arrivals-wrapper__item-bar {
    @include flex;
    width: auto;
    height: auto;
    margin-top: 33px;
}

.new-arrivals-wrapper__item-bar__item1 {
    width: 300px;
    height: 270px;
    background-color: $grid2;
    margin-top: 55px;
    margin-left: -940px;
}

.new-arrivals-wrapper__item-bar__item2 {
    width: 300px;
    height: 270px;
    background-color: $grid2;
    margin-top: 55px;
    margin-left: 20px;
}

.new-arrivals-wrapper__item-bar__item3 {
    width: 300px;
    height: 270px;
    background-color: $grid2;
    margin-top: 55px;
    margin-left: 20px;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.best-sellers {
    @include pure_section;
    height: 360px;
    background-color: $grid2;
}

.best-sellers-wrapper {
    @include wrapper;
    @include flex;
    background-color: $grid1;
}

.best-sellers-wrapper__top-bar {
    @include flex;
    width: auto;
    height: auto;
}

.best-sellers-wrapper__top-bar__title {
    width: 308px;
    height: 20px;
    background-color: $grid2;
    margin-top: 39px;
    margin-left: 19px;
}

.best-sellers-wrapper__top-bar__show-all {
    width: 100px;
    height: 30px;
    background-color: $grid2;
    margin-top: 32px;
    margin-left: 532px;
}

.best-sellers-wrapper__item-bar {
    @include flex;
    width: auto;
    height: auto;
    margin-top: 33px;
}

.best-sellers-wrapper__item-bar__item1 {
    width: 300px;
    height: 270px;
    background-color: $grid2;
    margin-top: 55px;
    margin-left: -940px;
}

.best-sellers-wrapper__item-bar__item2 {
    width: 300px;
    height: 270px;
    background-color: $grid2;
    margin-top: 55px;
    margin-left: 20px;
}

.best-sellers-wrapper__item-bar__item3 {
    width: 300px;
    height: 270px;
    background-color: $grid2;
    margin-top: 55px;
    margin-left: 20px;
}

.activity {
    @include pure_section;
    height: 280px;
    background-color: $grid3;
}

.activity-wrapper {
    @include wrapper;
    @include flex;
    background-color: $grid4;
}

.activity-wrapper__free-shipping {
    width: 220px;
    height: 185px;
    background-color: $grid2;
    margin-top: 74px;
    margin-left: 20px;
}

.activity-wrapper__testimonials {
    width: 220px;
    height: 185px;
    background-color: $grid2;
    margin-top: 74px;
    margin-left: 20px;
}

.activity-wrapper__blog-news {
    width: 460px;
    height: 185px;
    background-color: $grid2;
    margin-top: 74px;
    margin-left: 20px;
}

.widgets {
    @include pure_section;
    height: 246px;
    background-color: $grid2;
}

.widgets-wrapper {
    @include wrapper;
    @include flex;
    background-color: $grid1;
}

.widgets-wrapper__text-widget {
    width: 260px;
    height: 140px;
    background-color: $grid3;
    margin-top: 51px;
    margin-left: 52px;
}

.widgets-wrapper__twitter-widget {
    width: 260px;
    height: 165px;
    background-color: $grid3;
    margin-top: 51px;
    margin-left: 53px;
}

.widgets-wrapper__flickr-widget {
    width: 245px;
    height: 158px;
    background-color: $grid3;
    margin-top: 51px;
    margin-left: 50px;
}

.pre-footer {
    @include pure_section;
    height: 118px;
    background-color: $grid2;
}

.pre-footer-wrapper {
    @include wrapper;
    @include flex;
    background-color: $grid1;
}

.pre-footer-wrapper__newsletter {
    width: 250px;
    height: 36px;
    background-color: $grid3;
    margin-top: 40px;
    margin-left: 57px;
}

.pre-footer-wrapper__social-media {
    width: 212px;
    height: 36px;
    background-color: $grid3;
    margin-top: 40px;
    margin-left: 398px;
}

footer {
    @include pure_section;
    height: 90px;
    background-color: $grid3;
}

.footer-wrapper {
    @include wrapper;
    @include flex;
    background-color: $grid4;
}

.footer-wrapper__copyright {
    width: 185px;
    height: 30px;
    background-color: $grid2;
    margin-top: 29px;
    margin-left: 10px;
}

.footer-wrapper__additional-nav {
    width: 332px;
    height: 12px;
    background-color: $grid2;
    margin-top: 40px;
    margin-left: 430px;
}
